<manifest package="$package$.tests" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="$platform$"></uses-sdk>
    <application>
        <uses-library android:name="android.test.runner"></uses-library>
    </application>
    <instrumentation 
    android:label="Tests" android:targetPackage="$package$" android:name="android.test.InstrumentationTestRunner">
</instrumentation>
</manifest>